.button{
  width: 230px;
  height: 70px;
  border: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  outline: 0;
}